<template>
    <require from="leaflet/dist/leaflet.css"></require>
    
    <h1>Aurelia er her </h1>
    <div id="mapid" style="height: 400px; width: 100%; position: relative;"
         class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom">
    </div>

    <!--<div id="map" style="height: 400px; width: 100%;">
    </div>

    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),
                {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 8
                });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAv1Gl74fi1vvjwCr98E3zAEbcMC-JQ9o&callback=initMap" async defer></script>-->
    <!--<template>
        <google-map latitude="37.323" longitude="-122.0527"></google-map>
    </template>-->

</template>
