<template>
    <h1>Bli kjent med Aurelia</h1>
    <p>
        Aurelia er litt gammel, løper saktere og surer litt
        Hun trenger litt ekstra hjelp i hverdagen for å fortsette å bo hjemme.
        Selv om hun bor alene er det hun vil. Hun har jo bodd i huset sitt hele livet og hjemme er jo best.
    </p> 
    <br/>

    <p>Hun er med i hjemmetjenesten sitt opplegg som tilrettelegger for å kunne bo hjemme med bistand.</p>
    <p>Med en gjeng gode hjelpere kan Aurelia fortsette å bo hjemme.</p>
    <p>De gode hjelperne bruker digitalt verktøy til å få viktig informasjon, kommunisere og koordinere hva
        Aurelia trenger i hverdagen.</p>
    
    <p>Aurelia er 93 år og bor i ei bygd på Vestlandet. Hun har en datter og to sønner, 8 barnebarn og 2 oldebarn.</p>
    <p>Sønnen Espen, datteren Kari og naboen Pål bor i nærheten og har tidsperioder de kan bistå i løpet av uka.</p>
    <p>Hun trenger hjelp til middagsmatlaging siden kasseroller, steikepanna og takka er litt vanskelig. 
       Hun trenger også hjelp til innkjøp, medisinering, stell og dusj.</p>
    <p>Hun liker å gå tur i de bratte bakken rett ved der hun bor, og har fått en smarttelefon med GPS, 
        slik at hjelperne kan se hvor hun er og ringe hvis det er noe.</p>
    <p>Aurelia har dårlige tenner og må ofte til tannlegen. Ditt ønsker hun å komme seg på egen hånd.</p>
</template>
